[Unit]
Description=Mount Remote Signage Assets
After=network-online.target

[Mount]
What=//SERVER_IP/signage
Where=/mnt/signage
Type=cifs
Options=username=pi,password=secure,ro,vers=3.0

[Install]
WantedBy=multi-user.target
